<p style="color: green"><%= notice %></p>

<h1>Allergens</h1>

<div id="allergens">
  <% @allergens.each do |allergen| %>
    <%= render allergen %>
    <p>
      <%= link_to "Show this allergen", allergen %>
    </p>
  <% end %>
</div>

<%= link_to "New allergen", new_allergen_path %>
