<p style="color: green"><%= notice %></p>
<h1>Ingredients</h1>
<div id="ingredients">
  <% @ingredients.each do |ingredient| %>
    <div>
      <%= render ingredient %>
      <%= link_to "Show this ingredient", ingredient %>
    </div>
  <% end %>
</div>
<%= link_to "New ingredient", new_ingredient_path %>
