<div class="row">
  <div class="col-12">
    <h1>Editing meal</h1>
  </div>
</div>
<div class="row mb-5">
  <div class="col-6 inline-form">
    <%= link_to "Show this meal", restaurant_meal_path(@restaurant,@meal),  class: "btn btn-outline-dark" %>
    <%= link_to "Back to meals", restaurant_meals_path, class: "btn btn-info" %>
  </div>
  <div class="col-6 inline-form">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render "form", meal: @meal %>
  </div>
</div>
