<div id="<%= dom_id avoid_food %>">
  <p>
    <strong>Name:</strong>
    <%= avoid_food.name %>
  </p>

  <p>
    <strong>Avoid food category:</strong>
    <%= avoid_food.avoid_food_category_id %>
  </p>

</div>
