<h1>Editing avoid food</h1>

<%= render "form", avoid_food: @avoid_food %>

<br>

<div>
  <%= link_to "Show this avoid food", @avoid_food %> |
  <%= link_to "Back to avoid foods", avoid_foods_path %>
</div>
