<div class="row">
  <div class="col-12">
    <h1>Editing restaurant</h1>
  </div>
</div>
<div class="row mb-5">
  <div class="col-6 inline-form">
    <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-outline-dark" %>
    <%= link_to "Show this restaurant", @restaurant, class: "btn btn-info" %>
  </div>
  <div class="col-6 inline-form">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= render "form", restaurant: @restaurant %>
  </div>
</div>
