<div id="restaurants">
  <h1 class="mb-3 mt-5">Import new restaurant.</h1>
  <div class="row">
    <div class="col-12">
      <%= form_with(model: @restaurant) do |form| %>
        <% if !@errors.nil? %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">prohibited this restaurant from being saved:</h4>
            <p>
              <%= @errors %>
            </p>
          </div>
        <% end %>
        <div>
          <p class="mt-3"><small><mark>Only https://www.ubereats.com/XXX is actually managing.</mark></small></p>
          <%= form.text_field :url, class: 'form-control mb-3', placeholder: "Insert restaurant's URL", required: true %>
        </div>
        <div>
          <%= form.submit 'Import restaurant', class: 'btn btn-primary' %>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>
