<h1>Editing category ingredient</h1>

<%= render "form", category_ingredient: @category_ingredient %>

<br>

<div>
  <%= link_to "Show this category ingredient", @category_ingredient %> |
  <%= link_to "Back to category ingredients", category_ingredients_path %>
</div>
