<p style="color: green"><%= notice %></p>
<h1>Avoid meals <small>(Category ingredients)</small></h1>
<div id="category_ingredients">
  <% @category_ingredients.each do |category_ingredient| %>
    <%= render category_ingredient %>
    <p>
      <%= link_to "Show this category ingredient", category_ingredient %>
    </p>
  <% end %>
</div>
<%= link_to "New category ingredient", new_category_ingredient_path %>
